<template>
  <main class="class page-container">
    <section class="class section-container">
      <h1>Session with id</h1>
    </section>
  </main>
</template>

<script>
export default {
  name: 'SessionPersonalPage',
  layout: 'default',
}
</script>

<style scoped></style>
