<template>
  <main class="class page-container">
    <section class="class section-container">
      <h1>External device</h1>
    </section>
  </main>
</template>

<script>
export default {
  name: 'ExternalDevicePage',
  layout: 'empty',
}
</script>

<style scoped></style>
