<template>
  <main class="class page-container">
    <section class="class section-container">
      <section>
        <!-- Static collapse with two accordions (Setup and Management) -->
        <section>
          <!-- Setup -->
          <b-collapse
            class="card"
            animation="slide"
            :open="isOpen1"
            @open="!isOpen1"
          >
            <template #trigger="props">
              <div
                class="card-header"
                role="button"
                :aria-expanded="props.open"
              >
                <p class="card-header-title">{{ $t('setup') }}</p>
                <a class="card-header-icon">
                  <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                  </b-icon>
                </a>
              </div>
            </template>
            <div class="card-content">
              <div class="content">
                <div class="container">
                  <div class="columns">
                    <div class="column is-3">
                      <card-component
                        image="https://bulma.io/images/placeholders/96x96.png"
                        :label="$t('tag')"
                        href="/admin/tags"
                        alt="Placeholder"
                      />
                    </div>
                    <div class="column is-3">
                      <card-component
                        image="https://bulma.io/images/placeholders/96x96.png"
                        :label="$t('stimuli')"
                        href="/admin/stimuli"
                        alt="Placeholder"
                      />
                    </div>
                    <div class="column is-3">
                      <card-component
                        image="https://bulma.io/images/placeholders/96x96.png"
                        :label="$t('relationshipQuestions')"
                        href="/admin/relationship-questions"
                        alt="Placeholder"
                      />
                    </div>
                    <div class="column is-3">
                      <card-component
                        image="https://bulma.io/images/placeholders/96x96.png"
                        :label="$t('sessionQuestions')"
                        href="/admin/session-questions"
                        alt="Placeholder"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </b-collapse>
          <!-- Management -->
          <b-collapse
            class="card"
            animation="slide"
            :open="isOpen2"
            @open="!isOpen2"
          >
            <template #trigger="props">
              <div
                class="card-header"
                role="button"
                :aria-expanded="props.open"
              >
                <p class="card-header-title">{{ $t('management') }}</p>
                <a class="card-header-icon">
                  <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                  </b-icon>
                </a>
              </div>
            </template>
            <div class="card-content">
              <div class="content">
                <div class="container">
                  <div class="columns">
                    <div class="column is-3">
                      <card-component
                        image="https://bulma.io/images/placeholders/96x96.png"
                        :label="$t('user')"
                        href="/users/"
                        alt="Placeholder"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </b-collapse>
        </section>

        <!-- Examples -->
      </section>
    </section>
  </main>
</template>

<script>
import CardComponent from '~/components/CardComponent.vue'
export default {
  name: 'AdminPage',
  components: {
    CardComponent,
  },
  data() {
    return {
      isOpen1: true,
      isOpen2: true,
    }
  },
  layout: 'default',
}
</script>

<style scoped></style>
