<template>
  <main class="class page-container">
    <section class="class section-container">
      <div>
        <h1>Admin stimuli page</h1>
        <data-table :data="fetchedStimuli" :columns="columns" />
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: 'StimuliPage',
  layout: 'default',
  async asyncData({ $axios, redirect }) {
    // fetch stimuli from the database
    const { data } = await $axios.get('/api/stimulus/')
    console.log(data)
    if (data === null || data.length === 0) {
      return redirect('/error/?err=Failed to retrieve data. Try again later.')
    }
    const fetchedStimuli = []
    data.forEach(function (stimulus) {
      fetchedStimuli.push({
        id: stimulus.id,
        name: stimulus.name,
        description: '',
      })
    })
    return {
      fetchedStimuli,
    }
  },
  data() {
    return {
      columns: [
        {
          field: 'id',
          label: 'Id',
          width: '100',
          searchable: true,
        },
        {
          field: 'name',
          label: 'Stimulus Name',
          searchable: true,
        },
        {
          field: 'description',
          label: 'Stimulus Description',
          searchable: true,
        },
      ],
    }
  },
}
</script>

<style scoped></style>
