<template>
  <main class="class page-container">
    <section class="class section-container">
      <div>
        <h1>Admin tags page</h1>
        <!-- <new-tag-modal :data="fetchedLanguages" /> -->
        <data-table :my-data="fetchedTags" :columns="columns" />
      </div>
    </section>
  </main>
</template>

<script>
// import NewTagModal from '~/components/NewTagModal.vue'
export default {
  // components: { NewTagModal },
  name: 'TagsPage',
  layout: 'default',
  async asyncData({ $axios, redirect }) {
    // fetch the tags from the database
    const { data } = await $axios.get('/api/tag/')
    if (data === null || data.length === 0) {
      return redirect('/error/?err=Failed to retrieve data. Try again later.')
    }
    const fetchedTags = []
    data.forEach(function (tag) {
      console.log(tag)
      fetchedTags.push({
        id: tag.id,
        name: tag.name,
        ac: '...',
        onEditHandler: () => {
          console.log('ciao!' + tag.id)
        },
        onDeleteHandler: () => {
          console.log('cancello!' + tag.id)
        },
      })
    })
    console.log('36' + fetchedTags)
    return {
      fetchedTags,
    }
  },
  data() {
    return {
      columns: [
        {
          field: 'id',
          label: 'Id',
          width: '100',
          searchable: true,
        },
        {
          field: 'name',
          label: 'Tag Name',
          searchable: true,
        },
        {
          field: 'description',
          label: 'Tag Description',
          searchable: true,
        },
        {
          field: 'categories',
          label: 'Categories',
          searchable: true,
        },
        {
          field: 'ac',
          label: 'Edit',
          searchable: false,
        },
      ],
    }
  },
}
</script>

<style scoped></style>
