<!--
  Component: BackButton
  Description: Button to go in the previous page
-->
<template>
  <div class="back-button">
    <b-button
      icon-left="arrow-left"
      tag="router-link"
      to="selectedRoute.path"
      type="is-link"
      >{{ $t('backButton') }}</b-button
    >
  </div>
</template>
<script>
export default {
  props: {
    /** default-route: the default breadcrumb defined as an array of pairs (path,title). It's shown when no other alternative route is activated */
    defaultRoute: { type: Array, default: () => [] },
  },
  data() {
    return {
      /** Visibility flag for the breadcrumb */
      showRoute: this.defaultRoute.length > 0,
      /** Route selected to be shown in the breadcrumb */
      selectedRoute: this.defaultRoute,
    }
  },
  created() {
    /** Fetch the selected route from the query parameters */
    const index = this.$route.query.route
    if (index > -1) {
      this.selectedRoute = this.altRoutes[index]
    }
  },
}
</script>
<style scoped>
.button {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: auto;
  text-align: center;
}
</style>
