<template>
  <div class="container">
    <div class="card pt-3" role="button">
      <a :href="href">
        <div class="card-image pt-3">
          <figure class="image is-96x96">
            <img :src="image" :alt="alt" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="subtitle is-6">{{ label }}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    image: {
      type: String,
      default: '',
    },
    alt: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.card-image img {
  border-radius: 0.25rem;
}

.card-image figure {
  margin: auto;
}
</style>
