<!--
  Component: DataTable
  Description: Table used in several pages (TagsPage, StimuliPage)
-->
<template>
  <div>
    <b-table :data="myData">
      <b-table-column
        v-slot="props"
        v-for="(column, index) of columns"
        :key="index"
        :field="column.field"
        :label="column.label"
        :width="column.width"
        :searchable="column.searchable"
      >
        <div class="button-container" v-if="column.field === 'ac'">
          <b-button
            v-if="props.row.onEditHandler"
            @click="props.row.onEditHandler"
            >Edit</b-button
          >
          <b-button
            v-if="props.row.onDeleteHandler"
            @click="props.row.onDeleteHandler"
            >Delete</b-button
          >
        </div>
        <span v-else>{{ props.row[column.field] }}</span>
      </b-table-column>
    </b-table>
  </div>
</template>

<script>
export default {
  props: {
    myData: Array,
    columns: Array,
  },
}
</script>

<style></style>
