<!--
  Component: LoginForm
  Description: Form of LoginPage with email and password input field and login button
-->
<template>
  <div class="login-form-container">
    <form method="POST" action="/api/login">
      <b-field id="email" label="Email">
        <b-input
          id="email"
          v-model="email"
          name="email"
          type="email"
          placeholder="Email"
          icon="email"
        >
        </b-input>
      </b-field>
      <b-field id="password" label="Password">
        <b-input
          id="password"
          v-model="password"
          name="password"
          type="password"
          placeholder="Insert your password"
          password-reveal
        >
        </b-input>
      </b-field>
      <div class="login-buttons-wrapper">
        <b-button icon-left="login" native-type="submit">{{
          $t('login')
        }}</b-button>
        <b-button tag="router-link" to="password-recovery" type="is-link">
          {{ $t('recoverPassword') }}
        </b-button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
    }
  },
}
</script>
<style scoped>
.login-form-container {
  max-width: 500;
  max-height: 500;
  vertical-align: middle;
}
.button {
  position: relative;
  margin: auto;
  left: auto;
  text-align: center;
}
.form {
  margin: auto;
}
</style>
