<template>
  <section>
    <b-button
      :label="$t('newTag')"
      type="is-primary"
      size="is-medium"
      @click="isComponentModalActive = true"
    />

    <b-modal
      v-model="isComponentModalActive"
      has-modal-card
      full-screen
      :can-cancel="false"
    >
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ $t('newTag') }}</p>
        </header>
        <section class="modal-card-body">
          <!-- Stepper -->
          <b-steps
            :v-for="data"
            v-model="activeStep"
            :animated="isAnimated"
            :rounded="isRounded"
            :has-navigation="hasNavigation"
            :icon-prev="prevIcon"
            :icon-next="nextIcon"
            :label-position="labelPosition"
            :mobile-mode="mobileMode"
          >
            <form method="POST" action="/api/tag">
              <b-step-item
                step="1"
                label="Account"
                :clickable="isStepsClickable"
              >
                <h1 class="title has-text-centered">Account</h1>
                Lorem ipsum dolor sit amet.
              </b-step-item>
            </form>
          </b-steps>

          <b-field id="tag_name" label="Tag name">
            <b-input
              id="tag_name"
              v-model="tag_name"
              name="tag_name"
              type="tag_name"
              :placeholder="$t('insertNickname')"
              required
            >
            </b-input>
          </b-field>

          <b-field id="gender" label="Gender">
            <b-input
              id="gender"
              v-model="gender"
              name="gender"
              type="gender"
              :placeholder="$t('insertGender')"
              required
            >
            </b-input>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <div class="create-button-wrapper">
            <b-button native-type="submit" type="is-link">{{
              $t('createUser')
            }}</b-button>
          </div>
        </footer>
      </div>
    </b-modal>
  </section>
</template>

<script>
export default {
  data() {
    return {
      isComponentModalActive: false,
    }
  },
}
</script>
