<!--
  Component: NewUserModal
  Description: Modal to create a new user
-->
<template>
  <div class="modal-container">
    <!-- Button to activate the modal -->
    <b-button
      type="is-primary"
      size="is-medium"
      @click="isComponentModalActive = true"
      >{{ $t('new' + userRole) }}</b-button
    >
    <!-- Modal with the form to create an user -->
    <b-modal
      :active="isComponentModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-label="Example Modal"
      close-button-aria-label="Close"
      aria-modal
    >
      <form method="POST" action="/api/user">
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">{{ $t('new' + userRole) }}</p>
            <button
              type="button"
              class="delete"
              @click="isComponentModalActive = false"
            />
          </header>
          <section class="modal-card-body">
            <b-field id="role" label="Role">
              <b-input
                id="role"
                v-model="role"
                name="role"
                type="role"
                readOnly
              ></b-input>
            </b-field>

            <b-field id="nickname" label="Nickname">
              <b-input
                id="nickname"
                v-model="nickname"
                name="nickname"
                type="nickname"
                :placeholder="$t('insertNickname')"
                required
              >
              </b-input>
            </b-field>

            <b-field id="email" label="Email">
              <b-input
                id="email"
                v-model="email"
                name="email"
                type="email"
                :placeholder="$t('insertEmail')"
                required
              >
              </b-input>
            </b-field>

            <b-field id="password" label="Password">
              <b-input
                id="password"
                v-model="password"
                name="password"
                type="password"
                :placeholder="$t('insertPassword')"
                password-reveal
                required
              >
              </b-input>
            </b-field>

            <b-field id="gender" label="Gender">
              <b-input
                id="gender"
                v-model="gender"
                name="gender"
                type="gender"
                :placeholder="$t('insertGender')"
                required
              >
              </b-input>
            </b-field>

            <b-field id="motherTongue" label="Mother tongue">
              <b-input
                id="motherTongue"
                v-model="motherTongue"
                name="motherTongue"
                type="motherTongue"
                :placeholder="$t('insertMotherTongue')"
                required
              >
              </b-input>
            </b-field>

            <b-field id="dateOfBirth" label="Date Of Birth">
              <b-input
                id="dateOfBirth"
                v-model="dateOfBirth"
                name="dateOfBirth"
                type="date"
                :placeholder="$t('insertBirthdate')"
                required
              >
              </b-input>
            </b-field>

            <b-field id="image_path" label="image_path">
              <b-input
                id="image_path"
                v-model="image_path"
                name="image_path"
                type="image_path"
                :placeholder="$t('insertImage')"
                required
              >
              </b-input>
            </b-field>

            <b-field
              v-if="userRole == 'participant'"
              id="diagnosis"
              label="Diagnosis"
              class="file is-primary"
              :class="{ 'has-name': !!file }"
            >
              <b-upload
                v-model="diagnosis"
                class="file-label"
                accept=".json"
                validationMessage="Please select a file"
              >
                <span class="file-cta">
                  <b-icon class="file-icon" icon="upload"></b-icon>
                  <span class="file-label">Click to upload</span>
                </span>
                <span class="file-name" v-if="file">
                  {{ file.name }}
                </span>
              </b-upload>
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <div class="create-button-wrapper">
              <b-button native-type="submit" type="is-link">{{
                $t('createUser')
              }}</b-button>
            </div>
          </footer>
        </div>
      </form>
    </b-modal>
  </div>
</template>

<script>
export default {
  props: {
    userRole: {
      type: String,
    },
  },
  data() {
    return {
      isComponentModalActive: false,
      nickname: '',
      email: '',
      password: '',
      role: this.userRole,
      gender: '',
      dateOfBirth: '',
      motherTongue: '',
      image_path: null,
      file: null,
      diagnosis: null,
    }
  },
}
</script>

<style scoped>
.modal-card {
  max-width: 500;
  max-height: 500;
  vertical-align: middle;
}
</style>
