<!--
  Component: PageBreadcrumb
  Description: PageBreadcrumb used in all the pages
-->
<template>
  <section>
    <!-- Left -->
    <b-breadcrumb align="is-left">
      <b-breadcrumb-item tag="router-link" to="/">Home</b-breadcrumb-item>
      <b-breadcrumb-item tag="router-link" to="/documentation"
        >Docs</b-breadcrumb-item
      >
      <b-breadcrumb-item tag="router-link" to="/documentation/breadcrumb" active
        >Breadcrumb</b-breadcrumb-item
      >
    </b-breadcrumb>
  </section>
</template>

<script>
export default {}
</script>

<style scoped>
.b-breadcrumb {
  vertical-align: middle;
}
</style>
