<!--
  Component: RecoverPasswordForm
  Description: Form of PasswordRecoveryPage with email input field and request button
-->
<template>
  <div class="recover-password-form-container">
    <form v-if="currentInterface == 0" id="form" @submit="sendMessage">
      <b-field id="email" label="Email">
        <b-input
          id="email"
          v-model="email"
          name="email"
          type="email"
          placeholder="Email"
          icon="email"
          required
        >
        </b-input>
      </b-field>

      <div class="request-button-wrapper">
        <b-button native-type="submit">{{ $t('recoverPassword') }}</b-button>
      </div>
    </form>

    <!-- SENDING INTERFACE: on message sentind -->
    <div v-if="currentInterface == 1">
      <p class="form-message sending">
        <span class="mdi mdi-email-sync"></span>Please wait<br />
        Your message is being sent...
      </p>
    </div>

    <!-- SUCCESSFULLY RESPONSE INTERFACE: on message correctly sent -->

    <div v-if="currentInterface == 2">
      <p class="form-message success">
        <span class="mdi mdi-email-check"></span>
        Your message has been sent correctly<br />
        You will receive a reply in the next few days
      </p>
      <div class="centered-button">
        <base-button
          label="Send a new message"
          icon="mdi mdi-email-plus"
          @click.native="clearForm"
        />
      </div>
    </div>

    <!-- ERROR RESPONSE INTERFACE: on error -->
    <div v-if="currentInterface == 3">
      <p class="form-message failed">
        <span class="mdi mdi-email-remove"></span>
        An error occured<br />
        Please try again later
      </p>
      <div class="centered-button">
        <base-button
          label="Try again"
          icon="mdi mdi-email-plus"
          @click.native="retry"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentInterface: 0,
      email: '',
    }
  },
  methods: {
    /** Send the message to the server updating the interface according to the outcome */
    sendMessage() {
      this.currentInterface = 1 // Display the loading interface
      this.$axios
        .post(`${process.env.BASE_URL}/api/login/recover-password`, {
          email: this.email,
        })
        .then(() => {
          this.currentInterface = 2 // Display the success interface
        })
        .catch(() => {
          this.currentInterface = 3 // Display the error interface
        })
    },
    /** Display again the form to be filled in  */
    retry() {
      this.currentInterface = 0
    },
    /**  Clear the form and display it to the user */
    clearForm() {
      this.email = null
    },
  },
}
</script>
<style scoped>
.button {
  position: relative;
  margin: auto;
  left: auto;
  text-align: center;
}
.form {
  margin: auto;
}
</style>
