<template>
  <b-modal
    :active="isComponentModalActive"
    has-modal-card
    trap-focus
    :destroy-on-hide="false"
    aria-role="dialog"
    aria-label="Example Modal"
    close-button-aria-label="Close"
    aria-modal
  >
    <div class="modal-card" style="width: 300">
      <header class="modal-card-head">
        <p class="modal-card-title">User</p>
        <!-- <button
          type="button"
          class="delete"
          @click="isComponentModalActive = false"
        /> -->
        <button type="button" class="delete" @click="$emit('close')" />
      </header>
      <section class="modal-card-body">
        <!-- Accordion of Language -->
        <b-collapse
          class="card"
          animation="slide"
          :open="isOpen1"
          @open="!isOpen1"
        >
          <template #trigger="props">
            <div class="card-header" role="button">
              <p class="card-header-title">
                {{ $t('settingLanguage') }}
              </p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
              </a>
            </div>
          </template>
          <div class="card-content">
            <div class="content">
              <b-button
                tag="router-link"
                type="is-link"
                :to="switchLocalePath('en')"
                >English
              </b-button>
              <b-button
                tag="router-link"
                type="is-link"
                :to="switchLocalePath('it')"
                >Italiano
              </b-button>
              <div>{{ $t('currentLanguage') }}</div>
            </div>
          </div>
        </b-collapse>
        <!-- Accordion of Password -->
        <b-collapse
          class="card"
          animation="slide"
          :open="isOpen2"
          @open="!isOpen2"
        >
          <template #trigger="props">
            <div class="card-header" role="button">
              <p class="card-header-title">
                {{ $t('settingPassword') }}
              </p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
              </a>
            </div>
          </template>
          <div class="card-content">
            <div class="content">
              <update-password-form />
            </div>
          </div>
        </b-collapse>
      </section>
    </div>
  </b-modal>
</template>

<script>
import UpdatePasswordForm from './UpdatePasswordForm.vue'
export default {
  components: { UpdatePasswordForm },
  data() {
    return {
      isComponentModalActive: true,
      isOpen1: true,
      isOpen2: true,
    }
  },
}
</script>

<style scoped>
.modal-card {
  max-width: 500;
  max-height: 500;
  vertical-align: middle;
}
</style>
