<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <figure class="image is-64x64">
        <img
          class="is-rounded"
          src="https://bulma.io/images/placeholders/256x256.png"
        />
      </figure>
      <p class="modal-title">User</p>
      <button type="button" class="delete" @click="$emit('close')" />
    </header>
    <section class="modal-card-body">
      <!-- Update Password Form -->
      <update-password-form />
    </section>
  </div>
</template>

<script>
import UpdatePasswordForm from './UpdatePasswordForm.vue'
export default {
  components: { UpdatePasswordForm },
}
</script>
