<!--
  Component: TheHeaderEmpty
  Description: Header of the pages without authentication
-->
<template>
  <header class="header">
    <div class="header-content">
      <!-- Comutti Logo -->
      <nuxt-link to="/" class="logo">
        <img
          src="https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
          alt="Comutti"
        />
      </nuxt-link>
      <!-- Dropdown Menu to change language -->
      <div class="navbar-menu">
        <div class="navbar-end">
          <b-dropdown
            v-model="navigation"
            position="is-bottom-left"
            append-to-body
            aria-role="menu"
          >
            <template #trigger>
              <b-button icon-left="menu" icon-right="menu-down">{{
                $t('settingLanguage')
              }}</b-button>
            </template>
            <b-dropdown-item has-link>
              <nuxt-link :to="switchLocalePath('en')"> English</nuxt-link>
            </b-dropdown-item>
            <b-dropdown-item has-link>
              <nuxt-link :to="switchLocalePath('it')">Italiano</nuxt-link>
            </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      navigation: false,
    }
  },
}
</script>

<style scoped>
/* Positioning and colors of the whole component */
.header {
  width: 100%;
  background: rgba(229, 229, 229, 0.9);
  height: 70px;
  top: 0;
  z-index: 90;
}
/* Foreground components black */
.header * {
  color: black;
}
/* Main header containers */
.header-content {
  height: inherit;
  margin-left: 1vw;
  margin-right: 1vw;
}
.header-content .mdi {
  font-size: 36px;
}
.header-content .menu-item {
  margin-left: 1.5vw;
}
.b-dropdown-item :hover {
  color: #47494e;
}
.navbar-menu {
  align-items: center;
  height: inherit;
  width: 10;
  float: right;
  display: flex;
  font-size: 20px;
}
/* Appearance of the mobile navbar elements */
.dropdown-list {
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(238, 238, 238, 0.9);
  font-size: 28px;
}
.dropdown-list .mdi {
  vertical-align: bottom;
  margin-left: 5px;
}
.dropdown-list .menu-item {
  text-align: right;
  margin-right: 8vw;
  margin-top: 10px;
}

/* Appearance of the landmark to current page */
.nuxt-link-active {
  font-weight: 800;
}
/* Logo layout */
img {
  height: 45px;
  width: 144px;
  float: left;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
.logo {
  display: block;
}
</style>
