<!--
  Component: TheHeader
  Description: Header of the website with responsive navbar and Tuotial, Setting and Logout
-->
<template>
  <header class="header">
    <div class="header-content">
      <!-- Comutti Logo -->
      <nuxt-link to="/" class="logo">
        <img
          src="https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
          alt="Comutti"
        />
      </nuxt-link>
      <!-- Dropdown Menu -->
      <div class="navbar-menu">
        <div class="navbar-end">
          <b-dropdown position="is-bottom-left" append-to-body aria-role="menu">
            <template #trigger>
              <b-button icon-left="menu" icon-right="menu-down">{{
                $t('menu')
              }}</b-button>
            </template>
            <b-dropdown-item value="tutorial" disabled>
              <b-icon icon="help-circle"></b-icon>
              {{ $t('tutorial') }}
            </b-dropdown-item>
            <b-dropdown-item value="settings" @click="settingModal()">
              <b-icon icon="cog"></b-icon>
              {{ $t('setting') }}
            </b-dropdown-item>
            <b-dropdown-item
              value="logout"
              aria-role="menuitem"
              @click="$store.dispatch('auth/logout')"
            >
              <b-icon icon="logout"></b-icon>
              {{ $t('logout') }}
            </b-dropdown-item>
            <!-- https://stackoverflow.com/questions/21978658/invalidating-json-web-tokens?page=1&tab=scoredesc#tab-top -->
          </b-dropdown>
          <!-- Example
          <b-button
            label="Launch component modal"
            type="is-primary"
            size="is-medium"
            @click="isComponentModalActive = true"
          />
          <b-modal
            v-model="isComponentModalActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="false"
            aria-role="dialog"
            aria-label="Example Modal"
            close-button-aria-label="Close"
            aria-modal
          >
            <template #default="props">
              <setting-modal-vue />
              <modal-form v-bind="formProps" @close="props.close"></modal-form>
            </template>
          </b-modal> -->
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import SettingModalVue from './SettingModal.vue'
export default {
  data() {
    return {
      isComponentModalActive: false,
    }
  },
  props: { fetchedLanguages: Array },
  // components: { SettingModalVue },
  methods: {
    settingModal() {
      this.$buefy.modal.open({
        parent: this,
        component: SettingModalVue,
        hasModalCard: true,
        customClass: 'custom-class custom-class-2',
        trapFocus: true,
      })
    },
  },
}
</script>

<style scoped>
/* Positioning and colors of the whole component */
.header {
  width: 100vw;
  background: rgba(229, 229, 229, 0.9);
  height: 70px;
  top: 0;
  z-index: 90;
}
/* Foreground components black */
.header * {
  color: black;
}
/* Main header containers */
.header-content {
  height: inherit;
  margin-left: 8vw;
  margin-right: 8vw;
}
.header-content .mdi {
  font-size: 36px;
}
.header-content .menu-item {
  margin-left: 1.5vw;
}
.b-dropdown-item :hover {
  color: #47494e;
}
.navbar-menu {
  align-items: center;
  height: inherit;
  float: right;
  display: flex;
  font-size: 20px;
}
/* Appearance of the mobile navbar elements */
.dropdown-list {
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(238, 238, 238, 0.9);
  font-size: 28px;
}
.dropdown-list .mdi {
  vertical-align: bottom;
  margin-left: 5px;
}
.dropdown-list .menu-item {
  text-align: right;
  margin-right: 8vw;
  margin-top: 10px;
}
/* Appearance of the landmark to current page */
.nuxt-link-active {
  font-weight: 800;
}
/* Logo layout */
img {
  height: 45px;
  width: 144px;
  float: left;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
.logo {
  display: block;
}
</style>
