<!--
  Component: UpdatePasswordForm
  Description: Form of PasswordRecovery{id}Page with double password input field and save button
-->
<template>
  <div class="login-form-container">
    <form method="PUT" action="/api/login">
      <b-field id="password" label="Password">
        <b-input
          id="password"
          v-model="password"
          name="password"
          type="password"
          :placeholder="$t('insertNewPassword')"
          password-reveal
        >
          {{ $t('updatePassword') }}
        </b-input>
      </b-field>
      <b-field id="confirmPassword" label="Password">
        <b-input
          id="confirmPassword"
          v-model="confirmPassword"
          name="confirmPassword"
          type="password"
          :placeholder="$t('confirmNewPassword')"
          password-reveal
        >
        </b-input>
      </b-field>
      <div class="login-buttons-wrapper">
        <b-button icon-left="login" native-type="submit">{{
          $t('updatePassword')
        }}</b-button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      password: '',
      confirmPassword: '',
    }
  },
}
</script>
<style scoped>
.login-form-container {
  max-width: 500;
  max-height: 500;
  vertical-align: middle;
}
.button {
  position: relative;
  margin: auto;
  left: auto;
  text-align: center;
}
.form {
  margin: auto;
}
</style>
