<template>
  <main class="class page-container">
    <section class="class section-container">
      <update-password-form />
    </section>
  </main>
</template>

<script>
import UpdatePasswordForm from '~/components/UpdatePasswordForm.vue'
export default {
  components: { UpdatePasswordForm },
}
</script>

<style></style>
