<template>
  <div>
    <the-header-empty />
    <main class="class page-container">
      <section class="class section-container">
        <login-form />
      </section>
    </main>
  </div>
</template>

<script>
import LoginForm from '~/components/LoginForm.vue'
import TheHeaderEmpty from '~/components/TheHeaderEmpty.vue'
export default {
  name: 'LoginPage',
  components: { LoginForm, TheHeaderEmpty },
  layout: 'empty',
  data() {
    return {
      email: '',
      password: '',
    }
  },
}
</script>
