<template>
  <main class="class page-container">
    <section class="class section-container">
      <the-header-empty />
      <back-button />
      <recover-password-form />
    </section>
  </main>
</template>

<script>
import BackButton from '~/components/BackButton.vue'
import TheHeaderEmpty from '~/components/TheHeaderEmpty.vue'
export default {
  name: 'PasswordRecoveryPage',
  components: { BackButton, TheHeaderEmpty },
  layout: 'empty',
  data() {
    return {
      email: '',
    }
  },
}
</script>
