<template>
  <main class="class page-container">
    <div>
      <div class="section-container">
        <div class="columns">
          <div class="column is-4">
            <new-user-modal userRole="participant" />
            <card-component
              v-for="(user, index) in fetchedParticipant"
              :key="index"
              image="https://bulma.io/images/placeholders/96x96.png"
              :label="user.nickname"
              href="/users/"
              alt="Placeholder"
            />
          </div>
          <div class="column is-4">
            <new-user-modal userRole="caregiver" />
            <card-component
              v-for="(user, index) in fetchedCaregiver"
              :key="index"
              image="https://bulma.io/images/placeholders/96x96.png"
              :label="user.nickname"
              href="/users/"
              alt="Placeholder"
            />
          </div>
          <div class="column is-4">
            <new-user-modal userRole="admin" />
            <card-component
              v-for="(user, index) in fetchedAdmin"
              :key="index"
              image="https://bulma.io/images/placeholders/96x96.png"
              :label="user.nickname"
              href="/users/"
              alt="Placeholder"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import CardComponent from '~/components/CardComponent.vue'
import NewUserModal from '~/components/NewUserModal.vue'
export default {
  components: { NewUserModal, CardComponent },
  name: 'UserPage',
  layout: 'default',
  async asyncData({ $axios, redirect }) {
    // fetch the users from the database
    const { data } = await $axios.get('/api/user/')
    if (data === null || data.length === 0) {
      return redirect('/error/?err=Failed to retrieve data. Try again later.')
    }
    const fetchedParticipant = []
    data.forEach(function (user) {
      console.log(user)
      if (user.role === 'participant') {
        fetchedParticipant.push({
          nickname: user.nickname,
          gender: user.gender,
        })
      }
    })
    console.log(fetchedParticipant)

    const fetchedAdmin = []
    data.forEach(function (user) {
      console.log(user)
      if (user.role === 'admin') {
        fetchedAdmin.push({
          nickname: user.nickname,
          gender: user.gender,
        })
      }
    })
    console.log(fetchedAdmin)

    const fetchedCaregiver = []
    data.forEach(function (user) {
      console.log(user)
      if (user.role === 'caregiver') {
        fetchedCaregiver.push({
          nickname: user.nickname,
          gender: user.gender,
        })
      }
    })
    console.log(fetchedCaregiver)
    return {
      fetchedParticipant,
      fetchedAdmin,
      fetchedCaregiver,
    }
  },
}
</script>

<style scoped>
.columns.is-4 {
  align-content: center;
}
</style>
