<template>
  <div class="container-fluid">
    <div v-if="isLoading" class="loading"></div>
    <div v-else>
      <the-header :data="fetchedLanguages" />
      <Nuxt />
    </div>
  </div>
</template>

<script>
import TheHeader from '~/components/TheHeader.vue'
export default {
  name: 'DefaultLayout',
  components: { TheHeader },
  async asyncData({ $axios, redirect }) {
    // fetch the tags from the database
    const { data } = await $axios.get('/api/language/')
    console.log(data)
    if (data === null || data.length === 0) {
      return redirect('/error/?err=Failed to retrieve data. Try again later.')
    }
    const fetchedLanguages = []
    data.forEach(function (language) {
      console.log(language)
      fetchedLanguages.push({
        id: language.id,
        name: language.name,
      })
    })
    console.log(fetchedLanguages)
    return {
      fetchedLanguages,
    }
  },
  data() {
    return {
      isLoading: true,
      fetchedLanguages: null,
    }
  },
  async mounted() {
    await this.$store.dispatch('auth/checkAuth')
    this.isLoading = false
  },
}
</script>

<style>
/* Font family for the whole website */
html {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}
/* Content containers */
.page-container {
  margin-top: 70px;
  min-height: 90vh;
  margin-bottom: 50px;
}
.section-container {
  display: flow-root;
  margin-left: 8vw;
  margin-right: 8vw;
}
/* Appearance of the main elements */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.disabled-link {
  cursor: initial;
}
hr {
  border: none;
  border-top: #212121 solid 2px;
  width: 100%;
}
figure img {
  border-radius: 20px;
}
address span {
  font-size: 1.5em;
}
address a {
  display: inline-block;
  margin-bottom: 5px;
}
ul {
  padding-left: 20px;
  list-style-type: square;
}
li {
  margin-bottom: 20px;
}
.area-label {
  text-transform: uppercase;
}
.error-messages {
  text-align: center;
  margin-top: 30vh;
}
/* Styling for centered buttons */
.centered-button {
  text-align: center;
}
/* Flow up animation for page opening */
@keyframes flowUp {
  from {
    opacity: 0;
    transform: translate3d(0%, 25%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.page-enter-active {
  animation: flowUp 0.18s;
}
</style>
