<template>
  <main class="class page-container">
    <section class="class section-container">
      <div class="page">
        <h1>{{ $t('welcome') }} {{ $t('caregiver') }}</h1>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: 'IndexPage',
  methods: {
    goToPage(page) {
      this.$router.push(page)
    },
  },
}
</script>
