<template>
  <div>
    <button @click="startRecording" v-if="!recording">RECORD</button>
  </div>
</template>

<script>
export default {
name: "RecorderVue",
  async mounted() {
    // I open the connection
    // this.ws = new WebSocket('ws://localhost:3001');
    // // I get notified when the connection is open
    // this.ws.onopen = function (event) {
    //   console.log(event);
    // }

    // // I receive a message via web socket from the server
    // this.ws.onmessage = function (event) {
    //   console.log(event);
    //   // If the event contains data, the message contains the blob sent back to the client. I save it locally
    //   if (event.data){
    //     invokeSaveAsDialog(event.data, 'videoFromServer.webm');
    //   }
    // }

    // I get the stream (audio and video)
    const stream = await navigator.mediaDevices.getUserMedia({video: true, audio: true});
    // eslint-disable-next-line 
    this.recorder = new RecordRTCPromisesHandler(stream, {
      type: 'video',
      timeSlice: 1000,
    //   ondataavailable: this.send,
    });
  },

  data() {
    return {
      recording: false,
      recorder: null,
      ws: null,
    }
  },
  methods: {
    async startRecording() {
      await this.recorder.startRecording();
      this.recording = true;

      // recordings finishes automatically after 2 secs
      setTimeout(this.stopRecording, 2000);
    },
    async stopRecording() {
      await this.recorder.stopRecording();
      this.recording = false;
      const blob = await this.recorder.getBlob();
      // when the recording is finished, the video is saved locally
    // eslint-disable-next-line 
      invokeSaveAsDialog(blob, 'original_video.webm');
    console.log(blob)
    },
    // send(blob) {
    //   // I send the blob on the client via web socket
    //   console.log(blob);
    //   this.ws.send(blob);
    // }
  }
}
</script>

<style scoped>

</style>
